$color-header: #bea67c;
$color-light: #fff;
$color-dark: #000;

$font-main: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$transition: all .3s;
$radius: 4px;

$size-small: 15px;
$size-base: 20px;
$size-header: 48px;
$size-section-header: 75px;